{% extends "mapApp/base_layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="text-center">
        <img src="{% static 'images/Favicon/logo_size_invert.jpg' %}" class="m-5">
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group text-center col-md-8 mx-auto p-0">
            <ul class="list-group">
                {% for message in messages %}
                <li class="list-group-item list-group-item-action list-group-item-warning">{{message}}</li>
                {% endfor %}
            </ul>
            <label class="font-weight-bold ">Email Address</label>
            {{form.email}}
            <label class="font-weight-bold">Password</label>
            {{form.password}}
        </div>
        <script src="https://www.google.com/recaptcha/api.js?render=_reCAPTCHA_site_key"></script>
        <button type="submit" class="btn btn-dark btn-block font-weight-bold col-md-8 mx-auto">Login</button>
        <div class="text-center">
            <a class="font-weight-bold col-md-8 mx-auto" href="{% url 'reset_page' %}">Forget Password? Click Here to Reset Password</a>
        </div>
    </form>
</div>
{% endblock %}

{% block title %}Login - Tomo Map{% endblock %}