{% extends "mapApp/base_layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="text-center">
        <img src="{% static 'images/Favicon/logo_size_invert.jpg' %}" class="m-5">
    </div>
    <form method="post">
        {% csrf_token %}
        {% for message in messages %}
        <div class="text-center alert alert-success col-md-8 p-0 my-0 mx-auto" role="alert">
            <p id="messages" class="font-weight-bold col-md-8 p-0 my-0 mx-auto">
                {{ message }}
            </p>
        </div>
        {% endfor %}
        <div class="form-group text-center col-md-8 mx-auto p-0">
            <label class="font-weight-bold ">Username</label>
            {{form.username}}
            <label class="font-weight-bold">Password</label>
            {{form.password}}
        </div>
        <button type="submit" class="btn btn-dark btn-block font-weight-bold col-md-8 mx-auto my-3">Login</button>
        <div class="text-center">
            <a class="font-weight-bold col-md-8 mx-auto" href="{% url 'reset_page' %}">Forget Password? Click Here to
                Reset Password</a>
        </div>
    </form>
</div>
{% endblock %}

{% block title %}Login - Tomo Map{% endblock %}