{% extends "mapApp/base_layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="text-center">
        <img src="{% static 'images/Favicon/logo_size_invert.jpg' %}" class="m-5">
    </div>
    <form action="/" method="post">
        {% csrf_token %}
        <div class="form-group text-center">
            <label for="loginInputEmail" class="font-weight-bold col-md-8 p-0 mx-auto">Email address
                <input type="email" class="form-control" id="loginInputEmail" placeholder="example@email.com" required>
            </label>
            <label for="loginInputPassword" class="font-weight-bold col-md-8 p-0 mx-auto">Password
                <input type="password" class="form-control" id="loginInputPassword" placeholder="Type your password"
                       required>
            </label>
        </div>
        <button type="submit" class="btn btn-dark btn-block font-weight-bold col-md-8 mx-auto">Login</button>
        <div class="text-center">
            <a class="font-weight-bold col-md-8 mx-auto" href="#">Forget Password? Click Here to Reset Password</a>
        </div>
    </form>
</div>
{% endblock %}

{% block title %}Login - Tomo Map{% endblock %}