{% extends "mapApp/base_layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="text-center">
        <img src="{% static 'images/Favicon/logo_size_invert.jpg' %}" class="m-5">
    </div>
    <form method="post">
        {% csrf_token %}

        <div class="form-group text-center col-md-8 mx-auto p-0">
            <label for="register_email" class="font-weight-bold ">Email address</label>
            <input type="email" class="form-control" id="register_email" name="register_email" placeholder="example@email.com"
                   required>

            <label for="register_password1" class="font-weight-bold">Password</label>
            <input type="password" class="form-control" id="register_password1" name="register_password1"
                   placeholder="Type your password" required>

            <label for="register_password2" class="font-weight-bold"></label>
            <input type="password" class="form-control" id="register_password2" name="register_password2"
                   placeholder="Confirm your password"
                   required>
        </div>
        <button type="submit" value="submit" class="btn btn-dark btn-block font-weight-bold col-md-8 mx-auto">Register
        </button>

    </form>
</div>
{% endblock %}

{% block title %}Register - Tomo Map{% endblock %}