{% extends "mapApp/base_layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="text-center">
        <img src="{% static 'images/Favicon/logo_size_invert.jpg' %}" class="m-5">
    </div>
    <form method="post">
        {% csrf_token %}
            <div class="form-group text-center col-md-8 mx-auto p-0">
                <label class="font-weight-bold ">Email address</label>
                {{form.email}}
                <label class="font-weight-bold">Password</label>
                {{form.password1}}
                <label class="font-weight-bold"></label>
                {{form.password2}}
            </div>
        <button type="submit" value="submit" class="btn btn-dark btn-block font-weight-bold col-md-8 mx-auto">
            Register
        </button>
    </form>
</div>
{% endblock %}

{% block title %}Register - Tomo Map{% endblock %}