{% extends "mapApp/base_layout.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="text-center">
        <img src="{% static 'images/Favicon/logo_size_invert.jpg' %}" class="m-5">
    </div>
    <form>
        {% csrf_token %}
        <div class="form-group text-center col-md-8 p-0 mx-auto">
            <label for="loginInputEmail" class="font-weight-bold">Email address</label>
            <input type="email" class="form-control" id="loginInputEmail">
        </div>
        <button type="submit" class="btn btn-dark btn-block font-weight-bold col-md-8 mx-auto">Reset Password</button>
    </form>
</div>
{% endblock %}

{% block title %}Reset - Tomo Map{% endblock %}